<div  id="spmlGenerator" class="panel-portal">
        <h1 class="titlebar ng-binding"> Display Error File</h1>
        <!-- <div class="grid span-24 vlead-1 vtrail-1-half" ><p ng-bind="responses"></p>
        </div> -->

        <textarea rows="50" class="textarea" ng-bind="responses"></textarea>
</div>
<!-- <script src="static/js/jquery.min.js"></script> -->
<script src="static/js/nsnkit.js"></script>
<script src="static/js/backgrounds.js"></script>
<script src="static/js/panel.js"></script>
<script src="static/js/buttons.js"></script>
<script src="static/js/textinput.js"></script>

